doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')       
    link(rel='stylesheet', href='/css/view.css')
  body
    div.js-intro.intro 
        div.center
            div.page
                h1 Bible Trivia
                h1.cross &#8224;
    div.js-container.container.hidden
      div.js-card.card
        div.front
            div Next Question
        div.js-back.back
            div.js-info.info
            div.js-question.view-question Question
            div.js-timer.timer 30

            div.js-answers.view-answers
              ul
                  li 
                      span Answer A
                  li 
                      span Answer B
                  li 
                      span Answer C
                  li 
                      span Answer D
           

    script(src='/socket.io/socket.io.js')
    script(src='/view.js')

